click>=6,<7
pyserial
cachetools
requests
tabulate
jsonpickle
semantic_version
colorama
pyzmq
cobs
scan-build==2.0.13
sentry-sdk
observable
pypng==0.0.20
pyinstaller
django
flask
resource
pyOpenSSL
requests
django
spark
aiohttp
aws_lambda
beam
boto3
bottle
celery
chalice
dedupe
executing
falcon
flask
gcp
pure_eval
pyramid
redis
rq
sanic
serverless
sqlalchemy
stdlib
threading
tornado
trytond
wsgi
