click==8.1.8
rich-click==1.7.4
pyserial
cachetools
requests
requests-futures
tabulate
jsonpickle
semantic_version
colorama
pyzmq
cobs
scan-build==2.0.13
sentry-sdk
observable
pypng==0.0.20
pyinstaller
